<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   <title>Users</title>
</head>
<body>
   <div class="shared-row">
      <div class="card col-6">
         <div class="card-body">
            <h2 class="card-title">All Users</h2>
            {% for one_user in all_users %}
               <div class="shared-row">
                  <p class="card-text"><a href="/users/{{one_user.id}}">{{one_user}}</a></p>
                  <button onclick="location.href = '/users/{{one_user.id}}/delete';" id="deleteBtn" class="btn btn-danger" >Delete</button>
               </div>
            {% endfor %}
         </div>
      </div>

      <form action="/create/user" method="post" class="col-10 p-3 bg-dark text-light">
         <h2 class="text-center text-primary">New User</h2>
         <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" class="form-control">
         </div>
         <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" class="form-control">
         </div>
         <input type="submit" value="Add User" class="btn btn-primary">
      </form>
   </div>      
   
</body>
</html>